<!-- 
	modal dialog for sentiment maintenance objects
 -->
 
<script type="text/javascript">
 $(function() {
    $( "#spinner" ).spinner({
	      spin: function( event, ui ) {
	        if ( ui.value > 5 ) {
	          $( this ).spinner( "value", -5 );
	          return false;
	        } else if ( ui.value < -5 ) {
	          $( this ).spinner( "value", 5 );
	          return false;
	        }
	      }
	    });
	    
	$('input').keypress (function (event) {
       	var charCode = (event.which) ? event.which : event.keyCode;
        
        if(charCode !=8 && charCode != 9 )
        {
        	if (charCode != 32 && (charCode != 45 || $(this).val().indexOf('-') != -1)  && (charCode != 44 || $(this).val().indexOf(',') != -1) 
        		&& (charCode < 48 || charCode > 90) && (charCode < 97 || charCode > 122)) {
				event.preventDefault();
            }
        }
    });
	    
  });
</script>
 
<div class="modal hide fade" id="modal-info">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><%= translations['sentiment_modal'] %></h3>
  </div>
  <div class="modal-body">

	<form class="form-horizontal">
		<div class="control-group">
            <label class="control-label" for="sent_language"><%= translations['sentiment_lang'] %></label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-cog"></i></span>
                    <select name="sent_language" id="sent_language" size="1">
                    	<option value=""></option>
				    	<% debugger; for(var i=0; i<languages.length; i++) {
				    		var selected = false;
				    		debugger;
				    		if (typeof(sent_language) != 'undefined' || sent_language != null)
				    			selected = (languages[i]['language_code']) == sent_language;
				    			
				    		if(selected){%>
				    		<option selected value="<%=languages[i]['language_code']%>"><%=lang_trans['lang_'+languages[i]['language_code']]%></option>
				    		<% } else { %>
   							<option value="<%=languages[i]['language_code']%>"><%=lang_trans['lang_'+languages[i]['language_code']]%></option>
   							<% } %>
						<% } %>
			    	</select>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="sent_word"><%= translations['sentiment_word'] %></label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-cog"></i></span>
                    <input type="text" id="sent_word" value="<%= sent_word %>" maxlength="25">
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="sent_weight"><%= translations['sentiment_weight'] %></label>
            <div class="controls">
            	<input disabled="disabled" style="width:20px;" id="spinner" name="value" value="<%= sent_weight %>">
            </div>
        </div>
	</form>
  </div>
  
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" data-id="<%= id %>" id="modal-submit"><i class="icon-ok icon-white"></i></a>
    <a href="#" class="btn pull-left" data-dismiss="modal"><i class="icon-remove"></i></a>
  </div>
</div>