<!-- 
	modal dialog for filter objects
 -->
<script type="text/javascript">
 $(function() {
    $( "#pic_from" ).datepicker();
    $( "#pic_to" ).datepicker();
 });
</script>
<div class="modal hide fade" id="modal-info">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Filter</h3>
  </div>
  <div class="modal-body">

	<form class="form-horizontal">
		<div class="control-group">
            <label class="control-label" for="filter_name"><%= translations['filter_name'] %></label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-cog"></i></span>
                    <input type="text" id="filter_name" value="<%= filter_name %>">
                </div>
            </div>
        </div>
		<div class="control-group">
            <label class="control-label" for="filter_tags"><%= translations['filter_tags'] %></label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-cog"></i></span>
                    <input type="text" id="filter_tags" value="<%= filter_tags %>">
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="filter_from"><%= translations['filter_from'] %></label>
            <div class="controls">
                <div class="input-prepend">
                	<span class="add-on"><i class="icon-cog"></i></span>
                	<div class="input-append date" id="pic_from" data-date="" data-date-format="yyyy-mm-dd">
						<input class="span2" type="text" id="filter_from" value="<%= filter_from %>" readonly>
						<span class="add-on"><i class="icon-calendar"></i></span>
					</div>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="filter_to"><%= translations['filter_to'] %></label>
            <div class="controls">
                <div class="input-prepend">
                	<span class="add-on"><i class="icon-cog"></i></span>
                	<div class="input-append date" id="pic_to" data-date="" data-date-format="yyyy-mm-dd">
						<input class="span2" type="text" id="filter_to" value="<%= filter_to %>" readonly>
						<span class="add-on"><i class="icon-calendar"></i></span>
					</div>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="filter_location"><%= translations['filter_location'] %></label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-cog"></i></span>
                    <input type="text" id="filter_location" value="<%= filter_location %>">
                </div>
            </div>
        </div>
        <div class="control-group">
        	<label class="control-label" for="filter_language"><%= translations['filter_language'] %></label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-cog"></i></span>
                    <select name="filter_language" id="filter_language" size="1">
                    	<option value=""></option>
				    	<% for(var i=0; i<languages.length; i++) 
				    	   {
				    		var selected = false;
				    		
				    		if (typeof(filter_language) != 'undefined' || filter_language != null)
				    			selected = (languages[i]['language_code']) == filter_language;
				    			
				    		if(selected){%>
				    		<option selected value="<%=languages[i]['language_code']%>"><%=lang_trans['lang_'+languages[i]['language_code']]%></option>
				    		<% } else { %>
   							<option value="<%=languages[i]['language_code']%>"><%=lang_trans['lang_'+languages[i]['language_code']]%></option>
   							<% } %>
						<% } %>
			    	</select>
                </div>
            </div>
        </div>
	</form>
    
  </div>
  
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" data-id="<%= id %>" event-id="<%= event_id %>" id="modal-submit"><i class="icon-ok icon-white"></i></a>
    <a href="#" class="btn pull-left" data-dismiss="modal"><i class="icon-remove"></i></a>
  </div>
  
  
</div>