<!-- 
	modal dialog for events

	Andreas Ressmann
	05.04.2014	
 -->
<script type="text/javascript">
 $(function() {
    $( "#pic_from" ).datepicker();
    $( "#pic_to" ).datepicker();
</script> 
<div class="modal hide fade" id="modal-info">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Event</h3>
  </div>
  <div class="modal-body">

	<form class="form-horizontal">
		<div class="control-group">
            <label class="control-label" for="event_title"><%= translations['event_title'] %></label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-cog"></i></span>
                    <input type="text" id="event_title" value="<%= event_title %>">
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="event_from"><%= translations['event_from'] %></label>
            <div class="controls">
                <div class="input-prepend">
                	<span class="add-on"><i class="icon-cog"></i></span>
                	<div class="input-append date" id="pic_from" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
						<input class="span2" type="text" event_to" value="<%= event_from %>" readonly>
						<span class="add-on"><i class="icon-calendar"></i></span>
					</div>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="event_to"><%= translations['event_to'] %></label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-cog"></i></span>
                    <div class="input-append date" id="pic_to" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
						<input class="span2" type="text" event_to" value="<%= event_to %>" readonly>
						<span class="add-on"><i class="icon-calendar"></i></span>
					</div>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="event_tweet_tags"><%= translations['event_tweet_tags'] %></label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-cog"></i></span>
                    <input type="text" id="event_tweet_tags" value="<%= event_tweet_tags %>">
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="event_tw_count"><%= translations['event_tw_count'] %></label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-cog"></i></span>
                    <input type="text" id="event_tw_count" value="<%= event_tw_count %>">
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="event_description"><%= translations['event_description'] %></label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-cog"></i></span>
                    <textarea id="event_description"><%= event_description %></textarea>
                </div>
            </div>
        </div>
	</form>
    
  </div>
  
  <input type="hidden" id="event_tw_count" value="0" />
  <input type="hidden" id="event_state" value="0" />
  
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" data-id="<%= id %>" id="modal-submit"><i class="icon-ok icon-white"></i><%= translations['event_save'] %></a>
    <a href="#" class="btn pull-left" data-dismiss="modal"><i class="icon-remove"></i><%= translations['general_cancel'] %></a>
  </div>
</div>