<!-- 
	modal dialog for devices
	
	Julius Wukoutz
	24.01.2014
 -->
<div class="modal hide fade" id="modal-info">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Endgerät</h3>
  </div>
  <div class="modal-body">
  
	<form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="auth_identity">Login</label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-cog"></i></span>
                    <input type="text" id="auth_identity" value="<%= identity %>">
                </div>
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label" for="auth_password">Passwort</label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-cog"></i></span>
                    <input type="text" id="auth_password" value="<%= password %>">
                </div>
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label" for="device_nr">GeräteNr</label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-cog"></i></span>
                    <input type="text" id="device_nr" value="<%= devicenr %>">
                </div>
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label" for="type">Typ</label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-cog"></i></span>
                    <input type="text" id="type" value="<%= type %>">
                </div>
            </div>
        </div>
        
        
        <div class="control-group">
            <label class="control-label" for="description">Beschreibung</label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-cog"></i></span>
                    <textarea id="description"><%= description %></textarea>
                </div>
            </div>
        </div>
	</form>
    
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" data-id="<%= id %>" id="modal-submit"><i class="icon-ok icon-white"></i> Speichern</a>
    <a href="#" class="btn pull-left" data-dismiss="modal"><i class="icon-remove"></i> Abbrechen</a>
  </div>
</div>